:root {
  --text-body: #808080;
  --background-itens: #fff;
  --text-heading: #494d4b;
  --shapes-02: #FAFAFC
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;

  height: 100vh;
  background: #f7f8fa;

}

section {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.32));
  /* width: 36.71875vw;
  height: 54.06546990496304vh; */
  width: 705px;
  height: 511px;
  background: var(--background-itens);
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  margin-top: 67px;

  fill: var(--shapes-01, #FFF);
  stroke-width: 1px;
  stroke: var(--text-body-2, #AFB2B1);
  filter: drop-shadow(0px 2px 7px rgba(0, 0, 0, 0.25));

}

#formMudarSenha {
  margin: 54px 33px 0px 60px;
  height: 319px;
}

h2 {
  font: 24px/34px 'Archivo', sans-serif;
  font-weight: 600;
}

hr {
  margin: 16px 0px 24px 0px;
  height: 1px;
  background: #E6E6F0;
}

.content {
  height: 100%;
}

.group-input {
  font: 14px/24px 'Poppins', sans-serif;
  color: var(--text-body);
  margin-bottom: 33px;
}

.input {
  width: 288px;
  height: 56px;
  border: 1px solid #afb3b1;
  border-radius: 4px;
  padding: 10px;
  display: block;
}

label {
  font-weight: 400;
}

a {
  color: var(--text-body);
  font: 14px/24px 'Poppins', sans-serif;
  font-weight: 400;
}

#enviar {
  background: #04d361;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 56px;
  width: 128px;
  color: var(--background-itens);
  font: 16px/26px 'Archivo', sans-serif;
  font-weight: 600;
}

.btnVoltar {
  position: fixed;
  top: 1.9007391763463568vh;
  left: 0.8333333333333334vw;
}

.group-input a {
  position: absolute;
  visibility: hidden;
}

.group-input-error {
  font: 10px/20px 'Poppins', sans-serif;
  color: red;
}

.group-input-error input {
  border-color: red;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 136px;
  border-radius: 0px 0px 8px 8px;
  background: var(--shapes-02);
}

.footer-text {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0px 210px 0px 53px;
}

.footer-text p {
  width: 153px;
  font: 12px/20px 'Poppins', sans-serif;
  font-weight: 400;
  color: #A0A0B2;
  background-color: var(--shapes-02);
}

.button {
  margin-right: 112px;
}