:root {
  --text-body: #808080;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f7f8fa;
}
nav {
  margin: 0px, 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  height: 104px;
  background: #ffffff;
}
.logo img,
.logo,
.tittle,
.tittle-text,
.tittle-text p {
  background-color: #ffffff;
}
.tittle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 40px;
  gap: 20px;
  margin: 0px 32px;
}
.tittle-text {
  font: 1rem 'Inter';
  color: var(--text-body);
  font-weight: 400;
}
