:root {
  --text-body: #808080;
  --background-itens: #fff;
  --text-heading: #494d4b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
  background-color: #F7F8FA;
}

section {
  margin: 0px 48px 0px 64px;
  padding-top: 24px;
  color: var(--text-heading, #494D4B);
  font-family: "Lexend";
}

h1 {
  color: var(--text-heading, #494D4B);
  font-size: 24px;
  font-weight: 600;
}

.lastRelease-blocks {
  display: flex;
}

.lastRelease {
  margin: 16px 16px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 432px;
  height: 136px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid var(--items-line, #E6E8EB);
  background: var(--items-background, #FFF);
  backdrop-filter: blur(2px);
}

.lastRelease img {
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
}

.lastRelease-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.lastRelease-content p {
  color: var(--text-heading, #494D4B);
  margin-bottom: 16px;
}

.lastRelease-content span {
  color: var(--text-body, #808080);
  font: 14px 'Inter', sans-serif;
  font-weight: 400;
}

.lastRelease-text {
  margin: 29px 27px 29px 16px;
}

.lastRelease-content button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--items-line, #E6E8EB);
  background: #FFF;
  margin-top: 46px;
}

.lastRelease-content button img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  background: transparent;
}

.temas-tittle {
  display: flex;
  align-items: center;
  gap: 49px;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.temas-tittle button {
  width: 148px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--text-body-2, #AFB2B1);
  background: var(--items-background, #FFF);
  color: var(--text-heading, #494D4B);
  font: 14px/26px 'Archivo', sans-serif;
  font-weight: 600;
}

.temas-blocks {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.temas-content {
  width: 252px;
  height: 73px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid var(--items-line, #E6E8EB);
  background: var(--items-background, #FFF);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 33px;
  padding: 11px 0px 11px 10px;
  margin-right: 32px;
}

.temas-content img {
  width: 56px;
  height: 51.529px;
  flex-shrink: 0;
  border-radius: 16px;
  background: lightgray 50% / cover no-repeat;
}

.bnt-temas {
  display: flex;
  width: 42px;
  height: 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--text-body-2, #AFB2B1);
  background: var(--items-background, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.episodes {
  margin-top: 23px;
  width: 100%;
  height: 100%;
}

th {
  text-align: left;
  color: #ABA8B2;
  font: 12px 'Lexend', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

table,
th,
td {
  border-collapse: collapse;
}

.coluna {
  display: flex;
  align-items: center;
  height: 52px;
  margin-top: 12px;
  border-top: 1px solid #d1d1d1;
  padding-top: 12px;
  padding: 12px 50px 0px 0px;
}

.img img {
  width: 40.303px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: lightgray 50% / cover no-repeat;
}

.img {
  display: flex;
  justify-content: space-between;
  padding-right: 118px;

}

.img-tittle {
  display: flex;
  align-items: center;
  gap: 16px;
}

.coluna a {
  text-decoration: none;
  font: 14px 'Inter', sans-serif;
  font-weight: 400;
}

.coluna span {
  color: var(--text-heading, #494D4B);
  font: 16px 'Lexend', sans-serif;
  font-weight: 600;
}

.coluna p {
  color: var(--text-body, #808080);
  font: 14px 'Inter', sans-serif;
  font-weight: 400;
  background-color: transparent;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.button button {
  width: 32.242px;
  height: 32px;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.button .play {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play:hover {
  background-color: rgba(3, 247, 44, 0.123);
}

.play img {
  background-color: transparent;
}

table tbody tr:nth-last-child(-n+1) {
  filter: blur(1.5px);

}

.btn-pages {
  position: absolute;
  bottom: 22px;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.btn-pages button {
  width: 148px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid var(--text-body-2, #AFB2B1);
  background: var(--items-background, #FFF);
  cursor: pointer;
}

.group-side {
  position: absolute;
  top: 0;
  right: 0px;
  display: flex;
  height: 100%;
}

.btn-sideBar {
  margin-top: 129px;
}

.btn-sideBar {
  border: none;
  background: transparent;
}

.side {
  display: none;
}

div.open.side {
  width: 424px;
  height: 100%;
  padding: 32px 64px 48px;
  display: flex;
  align-items: center;
  background: #8257E5;
  z-index: 100;
  flex-direction: column;
}

.side-Tocando {
  width: 296px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.side-Tocando p {
  background-color: transparent;
  color: var(--text-body-3, #FFF);
  font: 16px 'Lexend', sans-serif;

  font-weight: 600;
}

.sideImage {
  margin: 142px;

}

.sideImage img {
  border-radius: 24px;
}

#audio::-webkit-media-controls {
  background-color: #8257E5;
}


/* Estilize os controles de tempo decorrido e tempo restante */
#audio::-webkit-media-controls-current-time-display,
#audio::-webkit-media-controls-time-remaining-display {
  color: #04d361;
  font: 16px;
  font-weight: 600;
  /* Cor do tempo decorrido e tempo restante em navegadores Webkit */
}