* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f8fa;
}
section {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.32));
  width: 43.118594436310396vw;
  height: 47.194244604316545vh;
  background: #ffffff;
  border-radius: 4px;

  display: flex;
  justify-content: flex-start;

  align-items: center;
  flex-direction: column;
}
.logo {
  margin-top: 3.884892086330935vh;
}
.group-input {
  font: 14px/24px 'Poppins', sans-serif;
  color: #808080;
  margin-bottom: 2.302158273381295vh;
}
#down {
  margin-bottom: 1.1510791366906474vh;
}
.down {
  margin-bottom: 3.4532374100719423vh;
}
.input {
  width: 27.013177159590043vw;
  height: 4vh;
  border: 1px solid #afb3b1;
  border-radius: 4px;
  padding: 10px;
  display: block;
}
a {
  color: #808080;
  font: 14px/24px 'Poppins', sans-serif;
  font-weight: 400;
}
.link {
  margin-bottom: 3.4532374100719423vh;
}
.button {
  display: flex;

  justify-content: space-evenly;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  height: 30px;
  width: 122px;
  color: #ffffff;
  font: 14px/26px 'Archivo', sans-serif;
  font-weight: 600;
}
#entrar {
  background: #8257e5;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
#cadastrar {
  background: #04d361;
  border-radius: 8px;
  border: none;
  cursor: pointer;

}
#cadastrar a{
  text-decoration: none;
  font: 14px/26px 'Archivo', sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.formCadastro {
  width: 589px;
  height: 551px;
}

.logoCadastro > img {
  margin: 27px 0px 24px 0px;
}
.btnC {
  margin-bottom: 32px;
}
.btnVoltar {
  position: fixed;
  top: 16px;
  right: 535px;
}
.group-input a{
  position: absolute;
  visibility: hidden;
}
.group-input-error{
  font: 14px/24px 'Poppins', sans-serif;
  color: #808080;
}
.group-input-error input{
  border-color: red;
}
.group-input-error a{
  color: red;
  visibility: visible;
}